@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-background text-foreground antialiased;
}

.grid-card {
  background: linear-gradient(120deg, #ffffff, #f3f8ee);
}
